body {
    background-color: rgb(250, 249, 249);
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.h1 {
    text-align: center;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: left;

}
.question {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}
.answers {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.answer {
    margin-bottom: 10px;
}
label {
    font-size: 16px;
    text-align: left;
}
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(14, 248, 61);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.total-score {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.incorrect-answers {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}
.incorrect-answer {
    margin-bottom: 10px;
}