<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form action="{{ url_for('quiz.score') }}" method="post">
            <div class="quiz-container">
                {% for question in quiz %}
                <div class="question">{{ loop.index }}. {{ question.question }}</div>
                <div class="answers">
                    {% for answer in question.options %}
                    <div class="answer">
                        <input type="radio" id="{{ answer }}" name="answer{{ loop.index0 }}" value="{{ answer }}">
                        <label for="{{ answer }}">{{ answer }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
    </html>
    